@use "sass:map";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap');
$colors: (
  'red': #dc143c,
  'green': '#228B22',
  'blue': #191970,
  'orange': '#FF4500',
  'yellow': '#FFD700',
);

body {
  font-family: 'Montserrat';
}

input {
  font-style: normal;
  font-family: 'Montserrat';
}

label {
  font-style: normal;
  font-family: 'Montserrat';
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

input[required] {
  &.ng-invalid {
    &.ng-touched {
      border: 1px solid map.get($colors, 'red');
    }
  }
}

@each $name, $color in $colors {
  .badge-#{name} {
  }
}

.container-form {
  border-radius: 5px;
  padding: 15px;
  min-width: 100px;
  min-height: 100px;
  box-shadow: 10px 10px 10px 10px #cccccc;
}

input {
  font-size: 14px;
  margin: 8px 0 20px 0;
  padding: 18px 46px 15px 19px;
}
label {
  padding: 0;
  font-size: 12px;
}
form {
  margin-bottom: 96px;
  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    button {
      font-size: 14px;
      min-width: 80%;
      max-width: 99%;
      height: 48px;
    }
  }
  .alert {
    padding: 0;
    margin: 0;
    h6 {
      font-size: 13px;
    }
  }
}
